# EDA TUTORIAL STUDENT COPY

## 1. Read CSV

### Import libraries and .CSV file

In [9]:
# ONLY if your Python Kernal does not have the relevant libraries installed
# For MacOS, use !pip3
# For Windows, use !pip or %pip

!pip3 install pandas
!pip3 install numpy
!pip3 install matplotlib.pyplot
!pip3 install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: pytz>=2020.1 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (2.0.2)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: pandas>=1.2 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: python-dateutil>=2.7 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: pillow>=8 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: packaging>=20.0 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: cycler>=0.10 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.20.2)
Requirement already satisfied: pytz>=2020.1 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/weichenchiam/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [10]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
## Connect to your Netflix_Userbase.csv file on your Desktop / location you have saved the file at
df = pd.read_csv('/Users/weichenchiam/Desktop/uno-DAC-Curriculum/DAC-002_EDA/Netflix_Userbase.csv')

### Preliminary checks on Dataframe

In [15]:
## Check the first 5 rows
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [16]:
## Check the last 10 rows (default .tail() without value inside will return last 5 rows)
df.tail(10)

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
2490,2491,Premium,13,18-07-22,11-07-23,France,41,Female,Smartphone,1 Month
2491,2492,Basic,14,19-07-22,12-07-23,Brazil,29,Female,Laptop,1 Month
2492,2493,Standard,11,20-07-22,11-07-23,Mexico,33,Male,Smart TV,1 Month
2493,2494,Premium,12,21-07-22,15-07-23,Spain,36,Male,Smart TV,1 Month
2494,2495,Basic,15,23-07-22,12-07-23,Italy,43,Female,Laptop,1 Month
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

In [17]:
## Check what columns are in DataFrame (useful for large datasets with too many columns)
print(df.columns)

Index(['User ID', 'Subscription Type', 'Monthly Revenue', 'Join Date',
       'Last Payment Date', 'Country', 'Age', 'Gender', 'Device',
       'Plan Duration'],
      dtype='object')

## 2. Read Data

In [39]:
## To see what types of subscriptions are available
print()

In [ ]:
## Monthly subscription? Yearly? 
print(df[''].unique())

In [ ]:
## To see different subscription prices
print(df[''].unique())

In [ ]:
## Which countries are we looking at?
print(df[''].unique())

In [ ]:
# Check what type of values are stored in the Dataframe columns
df.dtypes

In [ ]:
# Number of rows VS columns
df.shape

In [ ]:
# Set the display options
pd.options.display.float_format = '{:.3f}'.format # 3dp only

## Utilise the built-in statistics tool .describe()

## 3. Clean Data

In [ ]:
## Check for null values i.e. empty cells in each column

In [ ]:
# Check the number of duplicate rows
duplicate_rows_df = df[df.duplicated()]
print("Number of duplicate rows: ", duplicate_rows_df.shape)

So we have no null or duplicated data!

### Reformatting the columns in our DataFrame

In [ ]:
# Check first 5 rows (for before/after comparison)
df.head()

In [ ]:
# Convert ['... Date'] into YYYY-MM-DD format -> More uniform data -> Easier plotting -> Better analysis
## Utilise the .to_datetime() function to format 'Join Date' & 'Last Payment Date' into YYYY-MM-DD datetime value
df[''] = pd.to_datetime(df[''], format = '%d-%m-%y')
df[''] = pd.to_datetime(df[''], format = '%d-%m-%y')

# The 'format' argument shows how to intepret the date strings we provided
# Pandas always stores the date internally as YYYY-MM-DD once date is stored as datetimelike value

In [ ]:
# Check Dataframe if 'Join Date' and 'Last Payment Date' columns were reformatted
df.head()

## 4. Visualise Data

### 4a. Sales per Month

In [ ]:
## Create a 'Payment Year-Month' column from 'Last Payment Date' column
df[''] = df[''].dt.to_period('M').astype(str)    # .dt.to_period('M') : show format until month
df.head()

In [ ]:
## Group by 'Payment Year-Month' and sum the revenue
monthly_revenue = df.groupby('')['Monthly Revenue'].sum().reset_index()

## Convert 'Payment Year-Month' back to string for plotting purposes
monthly_revenue[''] = monthly_revenue[''].astype(str)

# Plotting the line chart for revenue over time
plt.figure(figsize = (12, 6))
sns.lineplot(x = 'Payment Year-Month', y = 'Monthly Revenue', data = monthly_revenue, marker = 'o', color = 'b')
plt.title('Monthly Revenue Over Time', fontsize = 16)
plt.xlabel('Year-Month of Payment', fontsize = 12)
plt.ylabel('Total Monthly Revenue', fontsize = 12)
plt.xticks(rotation = 90)  # Rotate x-axis labels for better readability
plt.grid(True)
plt.show()

In [ ]:
## Create a 'Join Year-Month' column from 'Join Date' column
df[''] = df[''].dt.to_period('M').astype(str)
df.head()

In [ ]:
## Group by 'Join Year-Month' and count the number of joins
monthly_joins = df.groupby('').size().reset_index(name = 'Number of Joins')

# Convert 'Join Year-Month' back to string for plotting purposes
monthly_joins['Join Year-Month'] = monthly_joins['Join Year-Month'].astype(str)

# Plotting the Line Chart for User Joins over time
plt.figure(figsize = (12, 6))
sns.lineplot(x = 'Join Year-Month', y = 'Number of Joins', data = monthly_joins, marker = 'o', color = 'g')

# Set the labels
plt.title('User Joining Trend Over Time', fontsize = 16)
plt.xlabel('Year-Month', fontsize = 12)
plt.ylabel('Number of Joins', fontsize = 12)
plt.xticks(rotation = 90)  # Rotate x-axis labels for better readability
plt.grid(True)
plt.show()

### 4b. Most Popular Subscription Type

In [ ]:
## Count of each Subscription Type
subscription_counts = df[''].value_counts()

# Bar Plot of the distribution
plt.figure(figsize = (8,5))
sns.barplot(x = subscription_counts.index, y = subscription_counts.values, hue = subscription_counts.values, palette = "viridis")
# You may exclude the hue field, seaborn will auto assign your x variable to be your hue

# Set the labels
plt.title('Distribution of Subscription Types')
plt.xlabel('Subscription Type')
plt.ylabel('Count')
plt.show()

### 4c. Gender vs Subscription Type
Which Gender prefers which Subscription -> How can we market our product towards the specific Gender?

In [ ]:
## Count Plot of Subscription Type by Gender
plt.figure(figsize = (8,5))
sns.countplot(x = '', hue = '', data = df, palette = 'Set3')

# Set the labels
plt.title('Subscription Type Distribution by Gender')
plt.xlabel('Subscription Type')
plt.ylabel('Count of Gender')
plt.show()

### 4d. Which Country uses Netflix more?

In [ ]:
## Count the number of users per Country
country_counts = df[''].value_counts()

# Plot the Pie chart
plt.figure(figsize = (8,8))
plt.pie(country_counts, labels = country_counts.index, autopct = '%1.1f%%', startangle = 90, colors = sns.color_palette("Set3", len(country_counts)))

# Equal aspect ratio ensures that pie is drawn as a circle.
plt.title('Proportion of Users by Country')
plt.axis('equal')  
plt.show()

### 4d. Alternative Visualisation

In [ ]:
# Create a variable 'sum_users_by_country', grouping them by their 'Country' label, and counting the no. of User IDs
sum_users_by_country = df.groupby('Country')['User ID'].count().reset_index()
sum_users_by_country.rename(columns = {'User ID': 'User Count'}, inplace = True)

# Plot the bar graph
plt.figure(figsize = (12,6))
sns.barplot(x = 'Country', y = 'User Count', data = sum_users_by_country, hue = 'Country', palette = 'Blues_d')

# Set the labels
plt.title('Sum of Users by Country')
plt.xlabel('Country')
plt.ylabel('Number of Users')
plt.xticks(rotation=30) # Rotate the labels by 30 degrees
plt.show()

## 5. Additional Analysis: How much did we earn in Revenue?

### Recall: What does our df DataFrame look like?

In [ ]:
## Show first 5 rows of DataFrame

### 5a. How much is our Total Revenue?

In [ ]:
# Assuming df is your DataFrame containing the relevant data
total_revenue = df['Monthly Revenue'].sum()

# Print Total Revenue to 2 decimal places
print(f'Total Revenue: ${total_revenue:.2f}')

### 5b. How much is our Monthly Revenue?

In [ ]:
# Group by 'Payment Year-Month' and sum the Revenue
monthly_revenue = df.groupby('Payment Year-Month')['Monthly Revenue'].sum().reset_index()

# Display the Monthly Revenue
print(monthly_revenue)

### 5c. Revenue per Subscription Pricing Tier
Display in (1) a Text Table, or (2) a Bar Plot

#### Method 1: Text Table

In [ ]:
# Create a variable called 'revenues', and utilise the functions .value_counts()
revenues = df['Monthly Revenue'].value_counts().reset_index()

# Call the function directly
revenues

#### Method 2: Bar Plot

In [ ]:
# Set up a Bar Plot using Seaborn
sns.barplot(
    x = 'Monthly Revenue',  # Utilising the Column 'Monthly Revenue'
    y = 'count',    # Kernals running Python 3.11 might throw an error here; switch to Python 3.9.6 or Python 3.12
    data = revenues
)

barplot = sns.barplot()

# Set the labels
plt.xlabel('Revenue Pricing Tier')
plt.ylabel('Number of Subcriptions')
plt.title('Number of Subscriptons / Pricing Tier')

# Add the exact total count above each bar
for p in barplot.patches:
    barplot.annotate(f'{int(p.get_height())}',  # Annotate with the height value
                     (p.get_x() + p.get_width()/2., p.get_height()),  # Position on top of the bar
                     ha = 'center', va = 'bottom',  # Center the text horizontally and place it just above the bar
                     fontsize = 7, color = 'black',  # Set font size and color
                     xytext = (0, 2),  # Offset the text slightly above the bar
                     textcoords = 'offset points')

plt.show()

### Alternative to 5b. Monthly Revenue (Comment In/Out)

In [31]:
# # Ensure 'Last Payment Date' is in datetime format
# df['Last Payment Date'] = pd.to_datetime(df['Last Payment Date'])

# # Create a new column for Year-Month (YYYY-MM)
# df['Year-Month'] = df['Last Payment Date'].dt.to_period('M')

# # Group by 'Year-Month' and sum the revenue
# monthly_revenue = df.groupby('Year-Month')['Monthly Revenue'].sum().reset_index()

# # Display the monthly revenue
# print(monthly_revenue)